.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
*.csv
*.rds
*.xlsx
*_pycache_*
gmail_cred
utils.R
data/
pubmed_chatgpt.R
gmail*
chat_gpt_api.R
blog/posts/*/*.png
blog/posts/*/*.rds
blog/posts/*/*.jpg
blog/posts/learning_ChatGPT_1/Model-weights.pt
_freeze/
