/*-- scss:defaults --*/
$h2-font-size:          1.5rem !default;
$headings-font-weight:  400 !default;

/*-- scss:rules
h1, h2, h3, h4, h5, h6 {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);
}
--*/

$body-color: #343a40; /*#212529*/;
/*$navbar-dark-color: #f5bc42;*/
$navbar-bg:  #4682b4;
/*$code-block-bg:*/
$monofont: 'Fira Code Retina', 'Fira Code', 'Source Code Pro';
$font-family-sans-serif: Lato, Roboto, "Segoe UI", "Helvetica Neue", "Source Sans Pro", -apple-system, BlinkMacSystemFont, Arial, san;
