/*-- scss:defaults --*/

$body-color: black;  /* #343a40; #212529*/;
$link-color: #138D75;
$code-color: #8e7cc3;

$headings-font-family: "Open Sans Condensed", "News Cycle", "Arial Narrow Bold", sans-serif !default;
$headings-font-weight: 700 !default;
$headings-line-height: 1.1 !default;
$navbar-bg: steelblue;

$monofont: "Fira Code Retina", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", "Source Code Pro", monospace;

$font-family-sans-serif: Roboto, Lato, "Helvetica Neue", "Segoe UI", "Source Sans Pro", -apple-system, BlinkMacSystemFont, Arial, san;

.title {
  /*font-size: 100px;
  font-style: italic;
  color: blue;
  font-variant: small-caps;*/
  font-size: 2rem;
  /*font-family: "Open Sans Condensed";*/
}
/*
.navbar {
  font-family: $headings-font-family;
  font-size: 28px;
  font-weight: 500;
}
*/

p {
  font-family: $font-family-sans-serif;
  font-size: 1rem;
}

h2::after {
  content: "";
  display: block;
  margin-top: 0.05em;
  /*margin-top: 0.5em;*/
  /*border-bottom: 1px solid #dee2e6;*/
}
