/*-- scss:defaults --*/

$h1-font-size: 2.0rem !default;

$body-color: black;  /* #343a40; #212529*/;
/*$navbar-dark-color: #f5bc42;*/
$navbar-bg: steelblue;

$monofont: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", "Fira Code Retina", "Source Code Pro", monospace;
$font-family-sans-serif: Lato, Roboto, "Segoe UI", "Helvetica Neue", "Source Sans Pro", -apple-system, BlinkMacSystemFont, Arial, san;


/*
$h1-font-family-sans-serif: "Open Sans Condensed",Lato, Roboto, "Segoe UI", "Helvetica Neue", "Source Sans Pro", -apple-system, BlinkMacSystemFont, Arial, san;


h1, .h1, h2, .h2 {
    color: inherit;
    background: white;
    color: #343a40;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

block.default .quarto-title .title {
    background: white;
    margin-bottom: 0;
}

title-block-header {
    background: white;
    color: #343a40;
    margin-block-end: 1rem;
    position: relative;
    margin-top: -1px;
}
*/
